<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Layout</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <header>
        <h1>Транзакции</h1>
    </header>
    <nav>
        <ul>
            <li><a href="">Главная страница</a></li>
            <li><a href="create-edit">Создание/редактирование записей</a></li>
            <li><a href="manage-dicts">Управление справочниками</a></li>
        </ul>
    </nav>
    <main>

    </main>
    <footer>
        <p>© 2025 whoami. Все права защищены.</p>
    </footer>
</body>
</html>