<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Layout</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <h1>Транзакции</h1>
    </header>
    <nav>
        <ul class="navbar">
            <li><a class="nav-button" href="/transactions">Главная страница</a></li>
            <li><a class="nav-button" href="/transactions/create-edit">Создание записей</a></li>
            <li><a class="nav-button" href="/transactions/manage-dicts">Управление справочниками</a></li>
        </ul>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>© 2025 whoami. Все права защищены.</p>
    </footer>
</body>
</html>